@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dbl: hsl(240, 38%, 20%);
    --gbl: hsl(240, 18%, 77%);
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dbl);
    background-color: #fff;


    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* div, main {
    border: 1px dashed pink;
} */


main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.slide {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.testim {
    display: flex;
    /*  ##################################3 */
}

.testim p {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 2rem;
    padding-bottom: 1.8rem;
}
.testim__role {
    color: var(--gbl);
    font-weight: 400;
}

.testim__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo {
    /*  ##################### */
    height: auto;
    box-shadow: 0.1rem 0.1rem 2rem .1rem rgba(0,0,0,0.4);
}

.buttons {
    height: 40px;
    width: 100px;
    border-radius: 30px;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0.1rem 0.1rem 2rem .1rem rgba(0,0,0,0.2);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

.arrow {
    width: 12px;
    position: relative;
    top: 2px;
}

.buttons a {
    transition: opacity 0.1s ease-in;
    padding: 10px;
}
.buttons a:hover {
    opacity: 0.4;
}

.btn-op {
    opacity: 0.4;
}
.btn-solid {
    opacity: 1;
}

@media (max-width: 999px) {

    main {
        width: 100vw;
        min-height: 100vh;

        flex-direction: column-reverse;

        background: url('./images/pattern-curve.svg') bottom left no-repeat;

        background-size: 80%, 100%;

    }
    .slide {
        transform: translateX(600px);
        transition: transform 0.5s cubic-bezier(.05,.63,.18,1.08);
    }
    .testim {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
        width: 500px; 

        margin: 0 350px 0 350px;
        text-align: center;
    }
    .testim__photo {
        background: url('./images/pattern-bg.svg') no-repeat top center;
        background-size:  100% 100% ;
        padding: 2rem;
    }
    .testim__text {
        padding: 3rem;

        background: url('./images/pattern-quotes.svg') top center no-repeat;
        background-size: 120px auto;
    }

    .photo {
        width: 400px;
    }

    .buttons {
        position: relative;
        top: -20px;
    }
}

@media (min-width: 1000px) {
    main {
        width: 1200px;
        min-height: 800px;

        flex-direction: column;

        padding: 8rem;
        background: url('./images/pattern-quotes.svg') 20% 30% no-repeat,
                    url('./images/pattern-bg.svg') center right 50px no-repeat,
                    url('./images/pattern-curve.svg') bottom left no-repeat;
        box-shadow: 0.4rem 0.4rem 2rem .1rem rgba(0,0,0,0.2); 
    }

    .slide {
        transform: translateX(600px);
        transition: transform 0.5s cubic-bezier(.05,.63,.18,1.08)
    }

    .testim {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        margin: 0 100px 0 100px;
    }




    .testim__text {
        z-index: 1;
        position: relative;
        left: 100px;
        width: 510px;
    }

    .photo {
        width: 500px;
    }

    .buttons {
        position: relative;
        top: -20px;
        left: -150px;
    }
}